{% extends "base/auth_base.html" %}
{% block title %} Secret Code {% endblock %}
{% block content %}
<div class="login-box">
    <div class="logo">
        <a href="javascript:void(0);">Hiren<b>Notes</b></a>
    </div>
    <div class="card">
        <div class="body">
            <form id="sign_in" method="post">
                <div class="msg">Enter encryption code</div>
                <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">lock</i>
                        </span>
                    <div class="form-line">
                        <input type="password" class="form-control" name="password" placeholder="Encryption code" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="center-block">
                            <button class="btn btn-block bg-green waves-effect" type="submit">Continue</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    let form = document.querySelector('form');
    form.onsubmit = function () {
        let password = document.querySelector('input[name=password]');
        sessionStorage.setItem("key", password.value);
        window.location.replace("/notebook/");
        return false;
    }

</script>
{% endblock %}