{% extends "base.html" %}
{% block title %} Create Note {% endblock %}
{% block content %}
<section class="content">
        <div class="container-fluid">
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                Create New Note
                            </h2>
                        </div>
                        <div id="note_create" class="body">
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
{% endblock %}

{% block script %} {% load staticfiles %} <script src="{% static 'js/bundles/note_create.js' %}"></script>{% endblock %}