{% extends "base.html" %}
{% block title %} Notes List {% endblock %}
{% block content %}
<section class="content">
    <div class="container-fluid">
        {% if messages %}
        <div {%for message in messages %} class="alert alert-{{ message.tags }}" {% endfor %} role="alert">
            <ul class="messages">
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        <div class="block-header">
            <h2>Notes List
                <a href="{% url 'note_create' pk=pk %}">
                    <button class="btn btn-info m-t-12 waves-effect pull-right">
                        <i class="material-icons">create</i>
                        <span>Create new note</span>
                    </button>
                </a>
                <a href="{% url 'notebook_delete' pk=pk %}">
                    <button class="btn btn-danger m-t-12 waves-effect pull-right">
                        <i class="material-icons">delete_forever</i>
                        <span>Delete notebook</span>
                    </button>
                </a>
            </h2>
        </div>
        <br/>
        <!-- Basic Card -->
        <div class="row clearfix">
            <div id="notebook_by_id"></div>
        </div>
    </div>
</section>
{% endblock %}
{% block script %} {% load staticfiles %} <script src="{% static 'js/bundles/notebook_by_id.js' %}"></script>{% endblock %}